 <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{{ url_for('static', path='img/dolo-new.jpg') }}" alt="">
                <div class="owl-carousel-inner">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-8">
                                <p class="text-primary text-uppercase fw-bold mb-2"></p>
                                <h1 class="display-1 text-primary mb-4 animated slideInDown">TUTTI - Жизнь в музыке</h1>
                                <p class="text-primary fs-5 mb-4 pb-3">Всё в одном и под рукой.</p>
                                <a href="product" class="btn btn-secondary rounded-pill py-3 px-5">Далее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{{ url_for('static', path='img/miti-new.jpg') }}" alt="">
                <div class="owl-carousel-inner">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-8">
                                <p class="text-primary text-uppercase fw-bold mb-2"></p>
                                <h1 class="display-1 text-primary mb-4 animated slideInDown">TUTTI - Жизнь в музыке</h1>
                                <p class="text-primary fs-5 mb-4 pb-3">Первая платформа для классических музыкантов.</p>
                                <a href="product" class="btn btn-secondary rounded-pill py-3 px-5">Далее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Carousel End -->
