 <!-- Navbar Start -->
 <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
    
   <a href="index" class="navbar-brand ms-4 ms-lg-0">
        <h1 class="text-primary m-0"></h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto p-6 p-lg-0">
            <a href="/" class="nav-item nav-link active">Home</a>
            <a href="product" class="nav-item nav-link">Products</a>
            <a href="history" class="nav-item nav-link">History</a>
            <a href="team" class="nav-item nav-link">Team</a>

            <a href="contact" class="nav-item nav-link">Contact</a>
        </div>
    <!--   
        <div class=" d-none d-lg-flex">
            <div class="flex-shrink-0 btn-lg-square border border-primary rounded-circle">
                <i class="fa fa-phone text-primary"></i>
            </div>
            <div class="ps-3">
                <small class="text-primary mb-0">Call Us</small>
                <p class="text-primary fs-5 mb-0">+012 345 6789</p>
            </div>
        </div>
    -->
    </div>
</nav>
<!-- Navbar End -->