<div class="container-xxl py-6">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-light text-uppercase mb-2"></p>
            <h1 class="display-6 mb-4">Мы всегда открыты к общению</h1>
        </div>
        <div class="row g-2">
            <div class="col-lg-6 col-md2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item text-center rounded overflow-hidden">
                    <img class="img-fluid rounded" src="{{ url_for('static', path='img/team-1.jpg') }}" alt="">
                    <div class="team-text">
                        <div class="team-title">
                            <h5>Анастасия</h5>
                            <span>Основатель</span>
                        </div>
                        <div class="team-social">
                            <a class="btn btn-square btn-light rounded-circle" href="https://t.me/missAnastasiaPavlova"><i class="fab fa-telegram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item text-center rounded overflow-hidden">
                    <img class="img-fluid rounded" src="{{ url_for('static', path='img/team-2.jpg')}} " alt="">
                    <div class="team-text">
                        <div class="team-title">
                            <h5>Матвей</h5>
                            <span>Разработчик</span>
                        </div>
                        <div class="team-social">
                            <a class="btn btn-square btn-light rounded-circle" href="https://t.me/Bonis_Auspiciis"><i class="fab fa-telegram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
